* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background:  linear-gradient(to top, rgba(19, 26, 38, 0.8), rgba(19, 26, 38, 0.9)), url(image/hero-icon-bg.svg), no-repeat, center/cover;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

a:hover {
    color: #ccc;
}

a:active {
    transform: scale(0.9);
}

h1 {
    margin-bottom: 2rem;
    text-align: center;
    /* width: 600px; */
}

.changer {
    width: 600px;
    height: 200px;
    border: 1.5px solid #eee;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9), 0 -3px 10px rgba(0, 0, 0, 0.9);
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 1.4;
    width: 200px;
    text-align: center;
    outline: none;
    border-radius: 10px;
    background: #eee;
    transition: all 0.1s ease-in;
    margin-bottom: 5rem;
}

.btn:hover {
    background-color: #ccc;
}

.btn:active {
    transform: scale(0.9);
}

footer {
    margin-top: 5rem;
    font-size: 0.9rem;
}